#!/bin/sh

set -e

PROFILE="default"

#####################################################################
# Arguments
#####################################################################
#
# ./bootstrap -p profile_name

# Use > 1 to consume two arguments per pass in the loop (e.g. each
# argument has a corresponding value to go with it).
while [[ $# > 1 ]]
do
key="$1"

case $key in
    -p|--profile)
    PROFILE="$2"
    shift # past argument
    ;;
    *)
     # unknown option
	echo -n "Unknown argument"
	exit 1
    ;;
esac
shift # past argument or value
done

############################################

export AWS_DEFAULT_REGION="{{ aws_bootstrap_aws_region }}"
export AWS_PROFILE=$PROFILE

echo "AWS Region:  $AWS_DEFAULT_REGION"
echo "AWS Credentials Profile: $AWS_PROFILE"
echo

echo "ansible-galaxy install -r requirements.yml --force"
ansible-galaxy install -r requirements.yml --force

echo "terraform get -update"
terraform get -update

echo "terraform apply"
terraform apply

PROVISION_IP=`terraform output provision_ip`
JUMP_IP=`terraform output jump_ip`
VPC_ID=`terraform output vpc_id`

echo ""
echo "ssh -i {{ aws_bootstrap_aws_private_key }} -f -L 12988:$PROVISION_IP:22 ec2-user@$JUMP_IP -o StrictHostKeyChecking=no sleep 900 <&- >&- 2>&- &"
ssh -i {{ aws_bootstrap_aws_private_key }} -f -L 12988:$PROVISION_IP:22 ec2-user@$JUMP_IP -o StrictHostKeyChecking=no sleep 900 <&- >&- 2>&- &

echo "sleep 10"
sleep 10

echo "ansible-playbook credentials.yml -i inventory.ini -e  ..."
ansible-playbook credentials.yml -i inventory.ini -e "aws_credentials_profile=$PROFILE" --private-key "{{ aws_bootstrap_aws_private_key }}"

echo "ansible-playbook provision.yml -i inventory.ini -e  ..."
ansible-playbook provision.yml -i inventory.ini -e "provision_vpc_id=$VPC_ID" --private-key "{{ aws_bootstrap_aws_private_key }}"

echo "terraform remote config -backend=s3 -backend-config=..."
terraform remote config -backend=s3 -backend-config="bucket={{ aws_bootstrap_state_bucket }}" -backend-config="key={{ aws_bootstrap_state_file }}"

