---
- hosts: all
  sudo: true

  roles:

  # one time setup .aws/credentials
  - role: gotansible.aws-credentials
    aws_credentials_user: provision
    aws_credentials_section: default
    when: aws_credentials_access_key|length > 0 or aws_credentials_profile|length > 0

  # one time key transfer
  - role: gotansible.sshkey
    sshkey_user: provision
    sshkey_group: provision
    sshkey_folder: /home/provision/.ssh/provision
    sshkey_setup_profile: true
    sshkey_files: {{ aws_bootstrap_keys }}
    when: aws_bootstrap_keys|length > 0

