#jinja2: trim_blocks: True, lstrip_blocks: True
---
- hosts: all
  sudo: true

  roles:
    
    # one time key transfer
    - role: gotansible.sshkey
      sshkey_user: provision
      sshkey_group: provision
      sshkey_folder: /home/provision/.ssh/provision
      sshkey_setup_profile: true
      sshkey_create_user: true
  {% if aws_bootstrap_keys|length > 0 %}
      sshkey_files:
    {% for path in aws_bootstrap_keys %}
        - {{ path }}
    {% endfor %}
  {% endif %}

    # one time setup .aws/credentials
    - role: gotansible.aws-credentials
      aws_credentials_user: provision
      aws_credentials_group: provision
      aws_credentials_profile_destination: default
      when: aws_credentials_access_key|length > 0 or aws_credentials_profile_source|length > 0


