#jinja2: trim_blocks: True, lstrip_blocks: True

# this is the local tfvars file to do a one time bootstrap
# and then it should, most likely, be deleted

aws_region = "{{ aws_bootstrap_aws_region }}"

vpc_zone = "{{ aws_bootstrap_aws_zone }}"
vpc_zone_alt = "{{ aws_bootstrap_aws_zone_alt }}"

aws_vpc_name = "{{ aws_bootstrap_vpc_name }}"
vpc_cidr_prefix = "{{ aws_bootstrap_vpc_cidr_prefix }}"

aws_keypair_name = "{{ aws_bootstrap_aws_keypair_name }}"
aws_private_key = "{{ aws_bootstrap_aws_private_key }}"

state_bucket = "{{ aws_bootstrap_state_bucket }}"
# no state file, because that is named outside of the terraform run
# for bootstraing

jump_access_cidr = "{{ aws_bootstrap_jump_access_cidr }}"

site_environment = "{{ aws_bootstrap_site_environment }}"

{% for key, value in aws_bootstrap_terraform_vars.iter_items() %}
{{ key }} = {{ value }}
{% %}
