#jinja2: trim_blocks: True, lstrip_blocks: True

# this is the local tfvars file to do a one time bootstrap
# and then it should, most likely, be deleted

aws_region = "{{ aws_bootstrap_aws_region }}"

vpc_zone = "{{ aws_bootstrap_aws_zone }}"
vpc_zone_alt = "{{ aws_bootstrap_aws_zone_alt }}"

aws_vpc_name = "{{ aws_bootstrap_vpc_name }}"
vpc_cidr_prefix = "{{ aws_bootstrap_vpc_cidr_prefix }}"

aws_keypair_name = "{{ aws_bootstrap_aws_keypair_name }}"
aws_private_key = "{{ aws_bootstrap_aws_private_key }}"

state_bucket = "{{ aws_bootstrap_state_bucket }}"
state_file_vpc = "{{ aws_bootstrap_state_file }}"

jump_access_cidr = "{{ aws_bootstrap_jump_access_cidr }}"

site_environment = "{{ aws_bootstrap_site_environment }}"

nat_instance_type = "{{ aws_bootstrap_nat_instance_type }}"
provision_instance_type = "{{ aws_bootstrap_provision_instance_type }}"
jump_instance_type = "{{ aws_bootstrap_jump_instance_type }}"

{% for key, value in aws_bootstrap_terraform_vars.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
