#!/bin/sh

set -e

export AWS_DEFAULT_REGION="{{ aws_bootstrap_aws_region }}"

if [ "$#" -ne 1 ]
then
  echo "Usage: `basename "$0"` module_folder"
  exit 1
fi

cd $1

VAR_FILE=""

if [ -f "../terraform.tfvars" ]; then
  VAR_FILE="-var-file=../terraform.tfvars"
fi

if [ -f "./terraform.tfvars" ]; then
  VAR_FILE="$VAR_FILE -var-file=./terraform.tfvars"
fi

terraform get -update
terraform apply $VAR_FILE

./terraform-remote-configure

